In [1]:
import sccoda.datasets as scd

In [2]:
from sccoda.util import cell_composition_data as dat

In [3]:
import scanpy as sc

In [4]:
adata = sc.read_h5ad("adata_neighbors.h5ad")

In [5]:
frac_by_condition = (
    adata.obs.groupby(["cell_type", "sample_id"])
    .apply(lambda x: x.value_counts("condition", normalize=False))
    .reset_index(name="n_cells")
    .assign(condition=lambda x: x["condition"].astype(str))
)

/tmp/ipykernel_3465812/1397422328.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  adata.obs.groupby(["cell_type", "sample_id"])
/tmp/ipykernel_3465812/1397422328.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  adata.obs.groupby(["cell_type", "sample_id"])

In [6]:
frac_by_condition

               cell_type     sample_id condition  n_cells
0    Interferon_response    10mix_ICI1     10mix     1111
1    Interferon_response    10mix_ICI1     11mix        0
2    Interferon_response    10mix_ICI1        GF        0
3    Interferon_response    10mix_ICI2     10mix      673
4    Interferon_response    10mix_ICI2     11mix        0
..                   ...           ...       ...      ...
211             Tex_term       GF_ICI2     10mix        0
212             Tex_term       GF_ICI2     11mix        0
213             Tex_term  GF_ICI2_plus        GF       68
214             Tex_term  GF_ICI2_plus     10mix        0
215             Tex_term  GF_ICI2_plus     11mix        0

[216 rows x 4 columns]

In [7]:
frac_pivot = (
    frac_by_condition.pivot(
        index=["sample_id", "condition"],
        columns="cell_type",
        values="n_cells",
    )
    .reset_index()
    #.drop(columns="other")
)

In [8]:
frac_pivot

cell_type,sample_id,condition,Interferon_response,MPEC1,MPEC2,MPEC3,Plastic,Tex_eff,Tex_int,Tex_prog,Tex_term
0,10mix_ICI1,10mix,1111,519,366,261,74,2093,977,543,498
1,10mix_ICI1,11mix,0,0,0,0,0,0,0,0,0
2,10mix_ICI1,GF,0,0,0,0,0,0,0,0,0
3,10mix_ICI2,10mix,673,625,136,207,101,963,310,665,699
4,10mix_ICI2,11mix,0,0,0,0,0,0,0,0,0
5,10mix_ICI2,GF,0,0,0,0,0,0,0,0,0
6,11mix_ICI1,10mix,0,0,0,0,0,0,0,0,0
7,11mix_ICI1,11mix,1388,224,240,488,75,2034,1037,614,104
8,11mix_ICI1,GF,0,0,0,0,0,0,0,0,0
9,11mix_ICI2,10mix,0,0,0,0,0,0,0,0,0
10,11mix_ICI2,11mix,1298,671,202,927,150,1479,88,396,104
11,11mix_ICI2,GF,0,0,0,0,0,0,0,0,0
12,GF_ICI1,10mix,0,0,0,0,0,0,0,0,0
13,GF_ICI1,11mix,0,0,0,0,0,0,0,0,0
14,GF_ICI1,GF,952,396,510,259,71,1010,812,406,458
15,GF_ICI1_plus,10mix,0,0,0,0,0,0,0,0,0
16,GF_ICI1_plus,11mix,0,0,0,0,0,0,0,0,0
17,GF_ICI1_plus,GF,1280,190,248,240,61,859,1228,291,118
18,GF_ICI2,10mix,0,0,0,0,0,0,0,0,0
19,GF_ICI2,11mix,0,0,0,0,0,0,0,0,0
20,GF_ICI2,GF,611,654,340,342,86,1105,106,244,59
21,GF_ICI2_plus,10mix,0,0,0,0,0,0,0,0,0
22,GF_ICI2_plus,11mix,0,0,0,0,0,0,0,0,0
23,GF_ICI2_plus,GF,1339,230,326,310,88,1758,777,679,68

In [13]:
frac_pivot.to_csv("frac_pivot.csv")

In [9]:
data_all = dat.from_pandas(
    frac_pivot, covariate_columns=["sample_id"]
)

In [10]:
data_all

AnnData object with n_obs Ã— n_vars = 24 Ã— 10
    obs: 'sample_id'

In [11]:
from sccoda.util import data_visualization as viz

ModuleNotFoundError: No module named 'seaborn'

In [3]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
import pandas as pd

In [2]:
import os

In [6]:
os.getcwd()

'/data/scratch/kvalem/projects/2021/honda_microbial_metabolites_2021/20_scripts/40_single-cell-sorted-cd8/40_gex_surface_prot'